export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"

sdk use java 25.0.3-zulu
sdk use groovy 5.0.6

PATH_add "$JAVA_HOME/bin"
PATH_add "$GROOVY_HOME/bin"

export JAVA_HOME
export GROOVY_HOME

export GRIFFON_HOME=/d/dev/griffon-1.6.1
export PATH=$PATH:$GRIFFON_HOME/bin
