export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$HOME/.sdkman/bin/sdkman-init.sh" ]] && source "$HOME/.sdkman/bin/sdkman-init.sh"

sdk use java 25.0.3-zulu
sdk use groovy 6.0.0-alpha-1

# 3. O PULO DO GATO: Força o direnv a colocar esses bins no INÍCIO do PATH
# O direnv tem uma função interna chamada PATH_add que resolve caminhos
PATH_add "$JAVA_HOME/bin"
PATH_add "$GROOVY_HOME/bin"
PATH_add "`pwd`/bin"

# 4. Exporta as variáveis para garantir que o Griffon as veja
export JAVA_HOME
export GROOVY_HOME

if [ -d /opt/griffon ]; then 
  export GRIFFON_HOME=/opt/griffon
else
  export GRIFFON_HOME=/d/dev/griffon-1.6.1
fi

export PATH=$PATH:$GRIFFON_HOME/bin
